<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main_layout}">
<head>
  <title>비밀번호 변경</title>
</head>
<body layout:fragment="content">
  <div class="page-head">
    <h2 class="page-title">비밀번호 변경</h2>
  </div>

  <div class="auth-box">
    <form th:action="@{/users/mypage/password}" th:object="${changeDto}" method="post" class="form">
      <div class="field">
        <label for="newPassword">새 비밀번호</label>
        <input type="password" th:field="*{newPassword}" autocomplete="new-password">
        <span class="err" th:errors="*{newPassword}"></span>
      </div>
      <div class="field">
        <label for="newPasswordConfirm">새 비밀번호 확인</label>
        <input type="password" th:field="*{newPasswordConfirm}" autocomplete="new-password">
        <span class="err" th:errors="*{newPasswordConfirm}"></span>
      </div>
      <button type="submit" class="btn-fill big">변경하기</button>
    </form>

    <p class="auth-link">
      <a th:href="@{/users/mypage/info}">회원정보 수정</a>
    </p>
  </div>
</body>
</html>