<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main_layout}">
<head>
  <title>현재 비밀번호 확인</title>
</head>
<body layout:fragment="content">
  <div class="page-head">
    <h2 class="page-title">비밀번호 확인</h2>
    <p class="page-desc">본인 확인을 위해 현재 비밀번호를 입력하세요.</p>
  </div>

  <div class="auth-box">
    <form th:action="@{/users/mypage/password/check}" th:object="${checkDto}" method="post" class="form">
      <div class="field">
        <label for="password">현재 비밀번호</label>
        <input type="password" th:field="*{password}" autocomplete="current-password">
        <span class="err" th:errors="*{password}"></span>
      </div>
      <button type="submit" class="btn-fill big">확인</button>
    </form>

    <p class="auth-link">
      <a th:href="@{/users/mypage/info}">회원정보 수정</a>
    </p>
  </div>
</body>
</html>