<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSRF -->
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <title>CartItem jQuery 비동기 연습</title>
</head>
<body>
    <h1>장바구니 REST API - jQuery(AJAX) 실습</h1>
    <!-- ============================= -->
    <!-- 장바구니 목록 조회 -->
    <!-- ============================= -->
    <section>
      <h2>장바구니 목록 조회</h2>
      <input type="text" id="listUserNo" placeholder="회원번호" th:value="${#authentication.principal.user.no}">
      <button onclick="list()">
        장바구니 목록
      </button>
  </section>
    <!-- ============================= -->
    <!-- 장바구니 상세 조회 -->
    <!-- ============================= -->
    <section>
      <h2>장바구니 상세 조회</h2>
      <input type="text" id="cartId" placeholder="장바구니ID">
      <button onclick="get()">
        장바구니 조회
      </button>
  </section>
    <!-- ============================= -->
    <!-- 장바구니 등록 -->
    <!-- ============================= -->
    <section>
      <h2>장바구니 등록</h2>
      <input type="text" id="createUserNo" placeholder="회원번호" th:value="${#authentication.principal.user.no}">
      <br>
      <input type="text" id="createProductNo" placeholder="상품번호">
      <br>
      <input type="text" id="createQuantity" placeholder="수량">
      <br>
      <button onclick="create()">
        장바구니 등록
      </button>
  </section>
    <!-- ============================= -->
    <!-- 장바구니 수정 -->
    <!-- ============================= -->
    <section>
      <h2>장바구니 수정</h2>
      <input type="text" id="updateId" placeholder="장바구니ID">
      <br>
      <input type="text" id="updateQuantity" placeholder="수량">
      <br>
      <button onclick="update()">
        장바구니 수정
      </button>
  </section>
    <!-- ============================= -->
    <!-- 장바구니 삭제 -->
    <!-- ============================= -->
    <section>
      <h2>장바구니 삭제</h2>
      <input type="text" id="deleteId" placeholder="장바구니ID">
      <button onclick="remove()">
        장바구니 삭제
      </button>
  </section>
    <!-- ============================= -->
    <!-- 응답 결과 -->
    <!-- ============================= -->
    <section>
      <h2>응답 결과</h2>
      <pre id="result">
  여기에 서버 응답 출력!
      </pre>
  </section>


  <!-- ============================= -->
  <!-- JS -->
  <!-- ============================= -->
  <!-- jQuery --> 
  <script src="https://code.jquery.com/jquery-4.0.0.min.js"></script>
  <script>
    // ==========================================
    // CSRF 토큰
    // ==========================================
    const csrfToken = document.querySelector('meta[name="_csrf"]').content
    const csrfHeader = document.querySelector('meta[name="_csrf_header"]').content
    // ==========================================
    // 결과 출력
    // ==========================================
    function printResult(data) {
      const $result = document.querySelector("#result")
      // JSON.stringify(
      //   값,
      //   변환할 데이터 선택,
      //   들여쓰기 칸수
      // )
      //
      // JS 객체 ➡ JSON 문자열
      $result.textContent =
        JSON.stringify(data, null, 2)
    }
    // ==========================================
    // 장바구니 목록 조회
    // GET /api/cart
    // ==========================================
    function list() {
      const userNo = $("#listUserNo").val()

      const url = `/api/cart`
      // GET 요청
      $.ajax({
        url: "/api/cart",
        method: "GET",
        success: function(data) {
          console.log(data)
          printResult(data)
        },
        error: function(error) {
          console.error(error);
        }
      })
    }
    // ==========================================
    // 장바구니 상세 조회
    // GET /api/cart/{id}
    // ==========================================
    function get() {
      const id = $("#cartId").val()
      
      $.ajax({
        url: `/api/cart/${id}`,
        method: "GET",
        success: function(data) {
          console.log(data)
          printResult(data)
        },
        error: function(error) {
          console.error(error);
        }
      })
    }
    // ==========================================
    // 장바구니 등록
    // POST /api/cart
    // ==========================================
    function create() {
      const userNo = $("#createUserNo").val()
      const productNo = $("#createProductNo").val()
      const quantity = $("#createQuantity").val()
      // 서버로 전송할 데이터
      const data = {
        user: {
          no: Number(userNo)
        },
        product: {
          no: Number(productNo)
        },
        quantity: Number(quantity)
      }
      // POST
      $.ajax({
        url: "/api/cart",
        method: "POST",
        headers: {
          [csrfHeader]: csrfToken
        },
        contentType: "application/json",
        data: JSON.stringify(data),
        success: function(data) {
          console.log(data)
          printResult(data)
        },
        error: function(error) {
          console.log(error)
        }
      })
    }
    // ==========================================
    // 장바구니 수정
    // PUT /api/cart
    // ==========================================
    function update() {
      const id = $("#updateId").val()
      const quantity = $("#updateQuantity").val()
      const data = {
        id: id,
        quantity: Number(quantity)
      }
      // PUT 
      $.ajax({
        url: "/api/cart",
        method: "PUT",
        headers: {
          [csrfHeader]: csrfToken
        },
        contentType: "application/json",
        data: JSON.stringify(data),
        success: function(data) {
          console.log(data)
          printResult(data)
        },
        error: function(error) {
          console.log(error)
        }
      })
    }
    // ==========================================
    // 장바구니 삭제
    // DELETE /api/cart/{id}
    // ==========================================
    function remove() {
      const id = $("#deleteId").val()
      // DELETE
      $.ajax({
        url: `/api/cart/${id}`,
        method: "DELETE",
        headers: {
          [csrfHeader]: csrfToken
        },
        success: function(data) {
          console.log(data)
          printResult(data)
        },
        error: function(error) {
          console.error(error);
        }
      })
    }
  </script>
</body>
</html>
